<h1>Bookstore API</h1>
<div>
    <form id="searchForm">
        <label for="searchText">Search:</label>
        <input type="text" id="searchText"><br><br>
        <input type="submit" value="Go">
    </form>
</div>
<div id="result"></div>

<script>
    document.getElementById('searchForm').addEventListener('submit', function (event) {
        event.preventDefault();

        let searchText = document.getElementById('searchText').value.trim();

        const result = document.getElementById('result');
        result.innerHTML = '';

        if (searchText && searchText != "") {

            if (!isNaN(searchText)) {
                searchText = searchText.toString();
            }

            const apiUrl = `/api/bookinfo/SearchBook?searchText=${searchText}`;

            fetch(apiUrl)
                .then(response => response.json())
                .then(data => {
                    if (Array.isArray(data) && data.length > 0) {
                        result.innerHTML = `<h2>Results (${data.length})</h2>`;
                        data.forEach(book => {
                            result.innerHTML += `<p>Title: ${book.Title}<br>
                                                    Author: ${book.Author}<br>
                                                    ISBN: ${book.ISBN}<hr></p>`;
                        });
                    } else {
                        result.innerHTML = `<h3>No results...</h3>`;
                    }
                })
                .catch(error => {
                    console.error('Something went wrong:', error);
                    result.innerHTML = `<h3>Error</h3>
                                        <p>Something went wrong.</p>`;
                });
        } else {
            result.innerHTML = `<h3>Invalid input</h3>
                                <p>Please write a correct ISBN-number, author, or book title.</p>`;
        }
    });
</script>
