<h1>Bookstore API</h1>
<div>
    <form id="searchForm">
        <label for="isbn">ISBN kod:</label>
        <input type="text" id="isbn" name="isbn"><br><br>
        <input type="submit" value="Sök">
    </form>
</div>
<div id="result"></div>

<script>
    document.getElementById('searchForm').addEventListener('submit', function (event) {
        event.preventDefault();

        const isbn = document.getElementById('isbn').value;
        fetch(`/api/bookinfo?ISBN=${isbn}`)
            .then(response => response.json())
            .then(data => {
                let resultDiv = document.getElementById('result');
                resultDiv.innerHTML = '';

                if (data && data.Title) {
                    resultDiv.innerHTML = `<h2>Resultat:</h2>
                                               <p>Titel: ${data.Title}</p>
                                               <p>ISBN: ${data.ISBN}</p>`;
                } else {
                    resultDiv.innerHTML = `<p>Boken hittades inte.</p>`;
                }
            })
            .catch(error => {
                console.error('Något gick fel:', error);
            });
    });

</script>
